# Configuración del Proyecto
PROJECT_NAME="GiraGroup BI System"
ENVIRONMENT=local

# Conexión a Base de Datos (Interna en Docker)
DATABASE_URL=postgresql://giragroup_user:giragroup_secret_2026@giragroup_db:5432/giragroup_db

# Seguridad API (JWT)
SECRET_KEY=clave_super_secreta_jwt_2026_reemplazar_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Entorno Docker
DOCKER_ENV=True